body{
    margin: 0;
    padding: 0;
}

#counter{
    color: #EF8B62;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial';
    font-size: 30px ;
    font-weight: bold;
}